<div class="bodyContent">
    <h1 class="mainHeading">Registration Numbers Application</h1>
    <button type="button" onclick="window.location.href='/'" class="btn">Back</button>
    <section class="wrapper">
        <div class="box yellow">
            <p>{{regSelected}}</p>
        </div>
    </section>
</div>